@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

/* shared styles */

.primary-bg {
    background: rgb(0, 0, 0);
}

.primary-color {
    color: rgb(230, 83, 60);
}

.display-flex {
    display: flex;
}

.align-items {
    align-items: center;
    text-align: center;
}

.banner-para {
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    padding: 8px;
}

.primary-btn {
    background-color: rgb(230, 83, 60);
    color: rgb(251, 251, 251);
    border-radius: 2rem;
    padding: 12px 30px;
    border-style: none;
}

.main-title {
    color: white;
    font-size: 3rem;
    font-weight: 800;
}

.main-para {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 300;
    margin-top: 8px;
    margin-bottom: 48px;
}

/* --------------navbar------------ */
.navbar h3 {
    font-size: 2.2rem;
    font-weight: 800;
}

header>.navbar {
    margin: auto 100px;
    align-items: center;
    justify-content: space-between;
}

ul>.nav-links {
    border: 1px solid white;
    border-radius: 2rem;
    padding: 15px;
}

.nav-links>a {
    text-decoration: none;
    justify-content: space-between;
    padding: 20px;
    color: white;
}


/* banner */
.banner-container {
    color: white;
    margin: auto 100px;
    align-items: center;
}

.secondary-btn {
    background-color: black;
    color: rgb(251, 251, 251);
    border-radius: 2rem;
    padding: 12px 30px;
    border: 1px solid white;
}

.banner #banner-title {
    font-size: 4.8rem;
    font-weight: 900;
}

.banner #italic {
    font-weight: 300;
}

.banner-first {
    align-items: center;
    justify-content: space-between;
}

/* .btn-img {
    z-index: -1;
} */

.btn-video {
    text-align: start;
    background-color: rgba(255, 255, 255, 0.1);
    color: rgb(251, 251, 251);
    border-radius: 1rem;
    /* margin: 12px 40px; */
    border: 1px solid white;
}

@media screen and (max-width:576px) {
    .banner-container {
        flex-direction: column;
    }
}

/* change-habit */
.change-habit {
    text-align: center;
    margin: auto 100px;
    /* border: 1px solid saddlebrown; */
}

.habit-img>div {
    /* border: 1px solid saddlebrown; */
    padding: 0px 30px;
}

.change-title {
    font-size: 1rem;
    color: white;
}

.change-habit img {
    border-radius: 6rem;
}

@media screen and (max-width:576px) {
    .habit-img {
        flex-direction: column;
    }
}