@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

/* shared styles */

.primary-bg {
    background: rgb(0, 0, 0);
}

.primary-color {
    color: rgb(230, 83, 60);
}

.display-flex {
    display: flex;
}

.align-items {
    align-items: center;
    text-align: center;
}

.banner-para {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    padding: 8px;
}

.primary-btn {
    background-color: rgb(230, 83, 60);
    color: rgb(251, 251, 251);
    border-radius: 2rem;
    padding: 12px 30px;
    border-style: none;
}

.main-title {
    color: white;
    font-size: 3rem;
    font-weight: 800;
}

.main-para {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 300;
    padding: 0px 0px 50px 0px;
}

/* --------------navbar------------ */
.navbar h3 {
    font-size: 2.2rem;
    font-weight: 800;
}

header>.navbar {
    margin: auto 100px;
    align-items: center;
    justify-content: space-between;
}

ul>.nav-links {
    border: 1px solid white;
    border-radius: 2rem;
    padding: 15px;
}

.nav-links>a {
    text-decoration: none;
    justify-content: space-between;
    padding: 20px;
    color: white;
}


/* banner */
.banner-container {
    color: white;
    margin: auto 100px;
    align-items: center;
}

.secondary-btn {
    background-color: black;
    color: rgb(251, 251, 251);
    border-radius: 2rem;
    padding: 12px 30px;
    border: 1px solid white;
}

.banner #banner-title {
    font-size: 4.8rem;
    font-weight: 900;
}

.banner #italic {
    font-weight: 300;
}

.banner-first {
    align-items: center;
    justify-content: space-between;
}

/* .btn-img {
    z-index: -1;
} */

.btn-video {
    text-align: start;
    background-color: rgba(255, 255, 255, 0.1);
    color: rgb(251, 251, 251);
    border-radius: 1rem;
    /* margin: 12px 40px; */
    border: 1px solid white;
}

@media screen and (max-width:576px) {
    .banner-container {
        flex-direction: column;
    }
}

/* change-habit */
main {
    text-align: center;
    /* border: 1px solid saddlebrown; */
}

.habit-img>div {
    /* border: 1px solid saddlebrown; */
    padding: 0px 30px;
}

.change-title {
    font-size: 1rem;
    color: white;
    padding: 0px;
}

.change-habit img {
    border-radius: 6rem;
}

@media screen and (max-width:576px) {
    .habit-img {
        flex-direction: column;
    }
}


/* runner  */
.run-easily {
    margin: auto 100px;
    text-align: start;
    align-items: center;
    padding: 40px;
    gap: 70px;
    background-color: rgb(34, 34, 34);
    border-radius: 1rem;
}

.runner-img {
    width: 60%;
    border-radius: 1rem;
}

@media screen and (max-width:576px) {
    .run-easily {
        flex-direction: column;
        align-content: center;
    }

    .runner-img {
        width: 100%;
    }
}



/* training-exercise

.training-exercise {
    text-align: start;
}


.first-section {
    height: 250px;
    display: flex;
}

.second-section {
    height: 273.5px;
    display: flex;
}

@media screen and (max-width:576px) {

    .first-section,
    .second-section {
        flex-direction: column;
        align-content: center;
        width: 100%;
        height: auto;
    }

} */

/* BMI */
.bmi {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    /* padding: 20px; */
}

.bmi .table-para {
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
}

.bmi .container-text {
    background-color: black;
}

.bmi-container {
    margin: auto 100px;
    gap: 40px;
    align-content: space-between;
}

table {
    border-collapse: collapse;
}

th,
td {
    text-align: start;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);

}


/* bmi form */
.bmi-form {
    text-align: start;
}

/* teams */
.images-team {
    margin: auto 100px;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 1rem;
    gap: 30px;
    padding: 30px;
    border-radius: 18px;
    background-color: rgba(255, 255, 255, 0.1);

}

.images-team img {
    width: 100%;
    height: 100%;
    border-radius: 18px;
}